.column1 {
  float: left;
  width: 50%;
  background-color: #386978;
  display: flex;
  height: 100vh;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.column2 {
  float: left;
  width: 50%;
  display: flex;
  height: 100vh;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #386978;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.head1{
  border-left:2px solid #ffffff;
  border-top:2px solid #ffffff;
  border-bottom:2px solid #ffffff;
  padding-left: 60px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: 82px;
  margin-bottom: 101px;
}

.head2{
  border-right:2px solid #386978;
  border-top:2px solid #386978;
  border-bottom:2px solid #386978;
  padding-right: 60px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: end;
  margin-right: auto;
  margin-top: 82px;
  margin-bottom: 101px;
}